body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.5;
}

span {
  color: #a59678;
}
header {
  background: #3b4050;
  color: white;
  padding: 2em;
  border: 2px solid goldenrod;
}
.btn {
  padding: 0.5em 1em;
  border-radius: 100px;
  border: transparent;
  background: #998b70;
  color: white;
  font-weight: 900;
}
.title {
  /* border: 2px solid red; */
  line-height: 1;
}
.title-main {
  border: 2px solid red;

  padding: 2em;
  /* width: 90%;by this way you can also you can center the things */
  /* max-width: 1200px; */

  margin: 0 auto;
  background: rgb(238, 238, 238);
  text-align: center;
}
.main-title {
  color: #796c51;
}
section {
  padding: 2em;
  /* border: 2px solid green; */
}
h4 {
  color: #72674e;
}

.aside-div {
  padding: 0 2em 2em 2em;
}
.aside-p {
  /* border: 2px solid blue; */
  margin-bottom: 2em;
  background: #3b4050;
  color: white;
  text-align: center;
  padding: 1em;
}
@media (min-width: 700px) {
  header {
    display: flex;
    gap: 8px;
  }
  .title-text {
    /* align-content: flex-end; */
    /* border: 2px solid green; */
    /* align-items: flex-end; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    margin-top: 16px;
  }
  img {
    border: 2px solid green;
    width: 100%;
  }

  .aside-div {
    display: flex;
    gap: 10px;
  }
  h4 {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  header {
    padding: 7em 15em;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 80px;
  }
  .title {
    /* flex-basis: 40%; */
    font-size: 2rem;
    /* width: 50%; */
    margin: auto;
  }
  .title-text {
    display: flex;
    /* border: 2px solid orange; */
    justify-content: flex-end;
  }
  .title-p {
    /* border: 2px solid purple; */
    /* align-self: flex-end; */
    /* flex-basis: 30%; */
    /* max-width: 50%; */
    margin-right: auto;
    font-size: 1.4rem;
    min-width: 9em;
  }
  .btn {
    margin-right: auto;
    padding: 1em 2em;
  }
  h1 {
    margin-bottom: 0;
  }
  .title-main {
    display: flex;
    gap: 10px;
    padding: 5em;
    line-height: 1.5;
  }
  .row {
    max-width: 19em;
    margin: auto;
  }

  .bottom-div {
    border: 2px solid palevioletred;
    padding: 3em;
    display: flex;
    gap: 20px;
  }
  .aside-div {
    display: flex;
    flex-direction: column;
  }
  .bottom-section {
    margin-top: 0;
    padding-top: 0;
  }
  h4 {
    margin-top: 0;
  }
}
