.grid-container {
  margin: 10px;
  background-color: lightgray;
  height: 500px;
  display: grid;
  /* grid-template-columns: 50px 50px 20px 10px 5px; */
  /* grid-template-rows: 20px 200px ; */
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  /* justify-content: end; */
  /* justify-content: center; */
  /* justify-content: start; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */

  /* align-content: space-around; */
  /* align-content: space-between; */
  /* align-content: start; */

  /* grid-row-gap: 30px; */
  /* grid-column-gap: 400px;        {unresponsive} */
  /* column-gap: 60px; */
}

.grid-item {
  /* background: chartreuse; */
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  text-align: center;
  width: 70px;
  line-height: 40px;
  /* transform: rotate(-90deg); */
}

@keyframes animation-color {
  0% {
    background-color: chocolate;
  }
  100% {
    background-color: cyan;
  }
}

#item {
  animation-name: animation-color;
  animation-duration: 5s;
  background-color: darkgreen;
}
